/* your code here */
body{
	background-color:black;
	color:white;
}
.top{
	display:flex;
	justify-content:space-between;
	width:100%;
	height:100px;
	margin:20px;
}
.media-icons{
	display:flex;
	gap:10px;
	margin-right:40px;
}
.link-boxes{
	display:flex;
	justify-content:space-between;
	margin:20px;	
}
.a{
	gap:20px;
	margin-top:10px;
	margin-bottom:10px;
}